.Menu {
    color: rgba(255,255,255,0.8);
}



.Menu a {
    color: rgba(255,255,255,0.8);
    list-style: none;
}

.Menu ul {
    margin: 0;
    margin-top: 40px;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.Menu li {
    display: inline-block;

}

.Menu li:hover {
    display: inline-block;
    border-bottom: 1px solid rgba(255,255,255,0.8);
}


@media (max-width: 425px) {
    .Menu {
        margin: 20px 0;
        font-size: 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
    }

    .Menu li {
        flex-basis: 100%;
        text-align: left;
        padding: 8px 0 8px 40%;
        box-sizing: border-box;
        font-size: 18px;
    }
}

