.SkillsContainer {
    color: rgba(255,255,255,0.8);
    background-color: rgba(0,0,0,0.8);
    padding-bottom: 40px;
}

.SectionTitle {
    font-size: 28px;
    padding-top: 40px;
    margin: 0;
}

.List {
    display: block;
    width: 100%;
}

.List li {
    margin: 35px 0;
}

.Flex {
    display: flex;
}
@media (max-width: 425px) {


    .SectionTitle {
        font-size: 30px;
        padding-top: 40px;
    }

    .List {
        display: block;
        width: 100%;
        font-size: 15px;
    }

    .List ul {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .List li {
        margin: 5px 0;
        flex-basis: 50%;
    }


    .Flex {
        display: block;
    }

}